/* CSS Document */
@charset 'utf-8';
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700&subset=latin,latin-ext);
@import url(../images/fontello/css/font-icons.css);
@import url(../images/fontello/css/font-icons-ie7.css);
/* normalize.css v1.0.0 | MIT License | git.io/normalize */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}html,button,input,select,textarea{font-family:sans-serif;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:.67em 0;}h2{font-size:1.5em;margin:.83em 0;}h3{font-size:1.17em;margin:1em 0;}h4{font-size:1em;margin:1.33em 0;}h5{font-size:.83em;margin:1.67em 0;}h6{font-size:.75em;margin:2.33em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}blockquote{margin:1em 40px;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}p,pre{margin:1em 0;}code,kbd,pre,samp{font-family:monospace,serif;_font-family:'courier new',monospace;font-size:1em;}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word;}q{quotes:none;}q:before,q:after{content:'';content:none;}small{font-size:75%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}dl,menu,ol,ul{margin:1em 0;}dd{margin:0 0 0 40px;}menu,ol,ul{padding:0 0 0 40px;}nav ul,nav ol{list-style:none;list-style-image:none;}img{border:0;-ms-interpolation-mode:bicubic;}svg:not(:root){overflow:hidden;}figure{margin:0;}form{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em;}legend{border:0;padding:0;white-space:normal;*margin-left:-7px;}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle;}button,input{line-height:normal;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;*overflow:visible;}button[disabled],input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}
/* elements */
html,button,input,select,textarea{font-family:'Source Sans Pro',sans-serif;}
body{font-size:14px;line-height:1.4;color:#000;text-align:center;background:#f7f7f7 url(../images/bg/01.jpg) repeat-x top;}
a{color:#dd2212;cursor:pointer;}
a:hover{text-decoration:none;}
h1,h2,h3,h4,h5,h6{margin:0 0 20px 0;}
h1{font-size:6;text-transform: uppercase;}
h2{font-size:24px;}
h3{font-size:18px;}
h4{font-size:14px;}
p{margin:0 0 20px 0;}
ul,ol{padding:0;margin:0 0 20px 20px;}
ul ul,ul ol,ol ol,ol ul{margin-bottom:0;}
ol{list-style:decimal;}
ul li{position:relative;list-style-type:none;padding:0 0 0 20px;margin:0;}
ul li:before,ul li .before{position:absolute;top:0;left:0;content:'';*zoom: expression(this.runtimeStyle['zoom']='1',this.innerHTML='');}
ul ul{padding:10px 0;}
ol li{margin:0 0 0 20px;}
ol ol{padding: 10px 0;}
hr{margin:0 0 20px 0;border:0;border-top:1px solid #bdbdbd;}
strong{font-weight:bold;}
em{font-style:italic;}
sup,sub{position: relative;vertical-align:baseline;font-size:60%;line-height:1;}
sup{bottom:1.4ex;}
sub{top:.7ex;}
/* classes */
.r{text-align:right!important;}
.c{text-align:center!important;}
.l{text-align:left!important;}
.j{text-align:justify!important;}
.pull-left{float:left;}
.pull-right{float:right;}
.clear{clear:both;}
.cleaner{display:block;clear:both;height:0;overflow:hidden;float:none;}
.nodisplay{display:none;}
.clearfix{*zoom:1;}
.clearfix:before,.clearfix:after{display:table;content:"";}
.clearfix:after{clear:both;}
.block{display:block;}
.table{width: 100%;margin: 0 0 20px;}
.table th, .table td{padding: 5px 7px;border: 1px solid #cecdce;}
.table th, .table thead td, .table tfoot td{background: #f1f1f1;}
.img-left{float: left;margin: 0 20px 10px 0;}
.img-right{float: right;margin: 0 0 20px 10px;}
#content{width: 680px;margin: 0 0 50px;}
.blok_c.col_3 #content{width: 430px;}
/* form */
label{display: block;}
input[type=text],input[type=password],select,textarea{margin: 0;padding: 5px 9px;width: 220px;height: 18px;border: 1px solid #cecdce;background: #fff;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;-webkit-box-shadow: inset 2px 2px 20px #eee;-moz-box-shadow: inset 2px 2px 20px #eee;box-shadow: inset 2px 2px 20px #eee;}
select{width: 240px;padding-top: 4px;padding-bottom: 4px;height: auto;}
textarea{width: auto;height: auto;}
button,input[type=button],input[type=submit],input[type=reset]{display: inline-block;height: 30px;color: #fff;text-shadow: -1px -1px 0 #000;padding: 0 20px;margin: 0;border: 0;white-space: nowrap;overflow: visible;text-decoration: none;text-shadow: -1px -1px rgba(0,0,0,0.5);background: #3d3d3d;background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNkM2QzZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMTIxMjEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background-image: -moz-linear-gradient(top,  #3d3d3d 0%, #212121 100%);background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3d3d3d), color-stop(100%,#212121));background-image: -webkit-linear-gradient(top,  #3d3d3d 0%,#212121 100%);background-image: -o-linear-gradient(top,  #3d3d3d 0%,#212121 100%);background-image: -ms-linear-gradient(top,  #3d3d3d 0%,#212121 100%);background-image: linear-gradient(to bottom,  #3d3d3d 0%,#212121 100%);-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}
button:hover,input[type=button]:hover,input[type=submit]:hover,input[type=reset]:hover{background: #dd2212;}
/* layout */
.main_table{display:block;width: 1000px;margin: auto;padding: 0;border:0;text-align: left;}
.main_table>tbody,.main_table>tr,.main_table>tbody>tr{display: block;margin: 0;padding: 0;border: 0;}
.main_table>tbody>tr{*zoom:1;}
.main_table>tbody>tr:before,.main_table>tbody>tr:after{display:table;content:"";}
.main_table>tbody>tr:after{clear:both;}
.lt-ie9 .main_table>tbody>tr:before,.lt-ie9 .main_table>tbody>tr:after{content:none;}
.main_table>tbody>tr:nth-child(2){background: #fff;}
.blok_a{display: block;margin: 0;padding: 0;border: 0;}
.blok_a2{display: block;margin: 0;padding: 0;border: 0;height: 55px;}
.blok_a2>tbody,.blok_a2>tbody>tr,.blok_a2>tr{display: block;margin: 0;padding: 0;border:0;}
.blok_a2_a{display: block;float: left;width: 500px;}
.blok_a2_b{display: block;float: left;width: 434px;text-align: right;}
.blok_a3{display: block;margin: 0;padding: 0;border: 0;height: 126px;}
.blok_a3>tbody,.blok_a3>tbody>tr,.blok_a3>tr{display: block;margin: 0;padding: 0;border:0;}
.blok_a3_a,.blok_a3_b,.blok_a3_c{display: block;margin: 0;padding: 0;border:0;float: left;}
.blok_b{display: block;background: #fff;width: 220px;float: left;padding: 32px 0 0 30px;margin: 0;border :0;vertical-align: top;}
.blok_c{display: block;background: #fff;width: 680px;float: left;padding: 32px 30px 0 40px;margin: 0;border :0;vertical-align: top;}
.blok_c.col_3{width: 430px;}
.blok_d{display: block;float: left;background: #fff;padding: 32px 0 0;margin: 0;border :0;}
.blok_d.col_3{padding-right: 30px;width:220px;}
.blok_e{*zoom:1;clear: both;display: block;background: #212121;color: #fff;padding: 32px 0 26px;margin: 0;border :0;}
.blok_e:before,.blok_e:after{display:table;content:"";}
.blok_e:after{clear:both;}
.blok_e a{color: #b7b0ba;}
.blok_f{*zoom:1;display: block;border: 0;margin: 0;border :0;}
.blok_f:before,.blok_f:after{display:table;content:"";}
.blok_f:after{clear:both;}
.logo_slogan{padding: 17px 0 0;color: #b7b0ba;}
.logo_slogan p{margin: 0;}
.prihlaseni_div{white-space: nowrap;text-align: right;padding: 12px 0 0;}
.prihlaseni_table,.prihlaseni_table tbody,.prihlaseni_table tr,.prihlaseni_table td{display: inline;}
.prihlaseni_div p{margin: 0;}
.prihlaseni_div a{display: inline-block;height: 29px;line-height: 29px;color: #fff;padding: 0 24px;margin: 0 0 0 10px;text-decoration: none;text-shadow: -1px -1px rgba(0,0,0,0.5);background: #eb3526;background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ViMzUyNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZDIzMTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background-image: -moz-linear-gradient(left,  #eb3526 0%, #dd2313 100%);background-image: -webkit-gradient(linear, left top, right top, color-stop(0%,#eb3526), color-stop(100%,#dd2313));background-image: -webkit-linear-gradient(left,  #eb3526 0%,#dd2313 100%);background-image: -o-linear-gradient(left,  #eb3526 0%,#dd2313 100%);background-image: -ms-linear-gradient(left,  #eb3526 0%,#dd2313 100%);background-image: linear-gradient(to right,  #eb3526 0%,#dd2313 100%);-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}
.prihlaseni_div a:hover{background: #7a7a7a;}
.prihlaseni_div .signin,.prihlaseni_div .login{padding-left: 8px;}
.prihlaseni_div .signin:before{margin: 0 16px 0 0;font-size: 16px;content: '\e800';font-family: 'font-icons';}
.prihlaseni_div .login:before{margin: 0 16px 0 0;font-size: 16px;content: '\e801';font-family: 'font-icons';}
.logo{padding: 29px 0 0 0;width: 427px;float: left;}
.hledani{width: 312px;float: left;padding: 27px 0 0 0;}
.hledani_table,.hledani_table tr{display: block;position: relative;}
.hledani_table tr td{display: block;float: left;}
.hledani input{margin: 0;color: #8f8f8f;height: 17px;width: 244px;padding: 11px 18px 11px 18px;border: 1px solid #1f1f1f;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}
.hledani button{position: absolute;left:243px;top:0;margin: 0;padding: 0;border: 0;height: 42px;width: 42px;background: none;font-size: 18px;font-weight: normal;color: #dd2212;content: '\e802';font-family: "font-icons";}
.hledani button:hover{color: #7a7a7a;}
.hledani button:before{position: absolute;content: '';left: 0;top: 12px;height: 20px;border-left: 1px solid #b3b1b4;}
.kosik_link{width: 260px;float: left;}
.kosik_link a{position: relative;display: block;height: 95px;text-decoration: none;color: #fff;}
.kosik_link a:before{position: absolute;content: '';bottom: 100%;right:0;width: 50px;height: 43px;background: #7a7a7a url(../images/ico/04.png) no-repeat center;-webkit-border-radius: 4px 4px 0 0;-moz-border-radius: 4px 4px 0 0;border-radius: 4px 4px 0 0;}
.kosik_link a:hover{background: #eb3526;}
.kosik_link a:hover:before{background-color: #eb3526;}
.kosik_link a .kosik_top{*zoom:1;display: block;height: 44px;margin: 0 0 7px;background: #7a7a7a;background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdhN2E3YSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2YTY3NmEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background-image: -moz-linear-gradient(top,  #7a7a7a 0%, #6a676a 100%);background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7a7a7a), color-stop(100%,#6a676a));background-image: -webkit-linear-gradient(top,  #7a7a7a 0%,#6a676a 100%);background-image: -o-linear-gradient(top,  #7a7a7a 0%,#6a676a 100%);background-image: -ms-linear-gradient(top,  #7a7a7a 0%,#6a676a 100%);background-image: linear-gradient(to bottom,  #7a7a7a 0%,#6a676a 100%);-webkit-border-radius: 0 0 6px 6px;-moz-border-radius: 0 0 6px 6px;border-radius: 0 0 6px 6px;}
.kosik_link a .kosik_bottom{*zoom:1;position: relative;display: block;height: 44px;background: #6a676a;background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI4JSIgc3RvcC1jb2xvcj0iIzZhNjc2YSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3YTdhN2EiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background-image: -moz-linear-gradient(top,  #6a676a 8%, #7a7a7a 100%);background-image: -webkit-gradient(linear, left top, left bottom, color-stop(8%,#6a676a), color-stop(100%,#7a7a7a));background-image: -webkit-linear-gradient(top,  #6a676a 8%,#7a7a7a 100%);background-image: -o-linear-gradient(top,  #6a676a 8%,#7a7a7a 100%);background-image: -ms-linear-gradient(top,  #6a676a 8%,#7a7a7a 100%);background-image: linear-gradient(to bottom,  #6a676a 8%,#7a7a7a 100%);-webkit-border-radius: 6px 6px 0 0;-moz-border-radius: 6px 6px 0 0;border-radius: 6px 6px 0 0;}
.kosik_link a .kosik_bottom:before{position: absolute;content: '';left: 0;bottom: 0;width: 100%;height: 4px;background: #777777;background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzc3Nzc3NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0ZjRmNGYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background-image: -moz-linear-gradient(top,  #777777 0%, #4f4f4f 100%);background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#777777), color-stop(100%,#4f4f4f));background-image: -webkit-linear-gradient(top,  #777777 0%,#4f4f4f 100%);background-image: -o-linear-gradient(top,  #777777 0%,#4f4f4f 100%);background-image: -ms-linear-gradient(top,  #777777 0%,#4f4f4f 100%);background-image: linear-gradient(to bottom,  #777777 0%,#4f4f4f 100%);}
.kosik_link a .kosik_top:before,.kosik_link a .kosik_top:after{display:table;content:"";}
.kosik_link a .kosik_top:after{clear:both;}
.kosik_link_title{float: left;width: 120px;line-height: 1.2;padding: 16px 0 0 20px;white-space: nowrap;}
.kosik_link_cena{float: right;width: 100px;padding: 12px 20px 0 0;font-size: 20px;line-height: 1;text-align: right;white-space: nowrap;}
.kosik_link_dph{float: right;width: 150px;padding: 0 20px 0 0;text-align: right;}
#mainmenu{position: relative;display: block;margin: 0;padding: 0;border: 0;background: #cf2b1e url(../images/bg/04.png) no-repeat bottom;-webkit-border-radius: 4px 4px 0 0;-moz-border-radius: 4px 4px 0 0;border-radius: 4px 4px 0 0;}
#mainmenu:before{position: absolute;content: '';bottom: 0;left: 0;width: 100%;height: 5px;background: #fff;-webkit-border-radius: 4px 4px 0 0;-moz-border-radius: 4px 4px 0 0;border-radius: 4px 4px 0 0;}
#mainmenu .menu{display: inline;display: inline-block;margin: 0;padding: 0;width: 893px;background: #e73021 url(../images/bg/04.png) no-repeat 59px bottom;-webkit-border-radius: 4px 4px 0 0;-moz-border-radius: 4px 4px 0 0;border-radius: 4px 4px 0 0;}
#mainmenu .menu li{float: left;margin: 0;padding: 0;background: none;}
#mainmenu .menu li:before{display: none;}
#mainmenu .menu li a{position: relative;color: #fff;text-shadow: -1px -1px 0 rgba(0,0,0,0.5);display: inline-block;padding: 0 27px;line-height: 52px;font-size: 16px;text-transform: uppercase;text-decoration: none;}
#mainmenu .menu li a:hover{text-decoration: underline;}
#mainmenu .menu li.act a{font-weight: bold;}
#mainmenu .menu li a:after{position: absolute;content: '';height: 20px;top: 18px;left: 0;border-left: 1px solid #a74a45;border-right: 1px solid #eb5043;}
#mainmenu .menu li:first-child a:after{display: none;}
#mainmenu .menu li.act a:before{position: absolute;content: '';top:0;left: 50%;margin: 0 0 0 -10px;border: 8px solid transparent;border-top-color: #f7f7f7;}
#mainmenu .lang{position: absolute;top:0;right: 7px;margin: 0;padding: 0;}
#mainmenu .lang li{margin: 0;padding: 18px 14px 0 0;display: inline;display: inline-block;}
#mainmenu .lang li:before{display: none;}
#mainmenu .lang li img{-webkit-opacity: 0.6;-moz-opacity: 0.6;opacity: 0.6;filter:alpha(opacity=60);-webkit-box-shadow: 2px 2px 4px rgba(0,0,0,0.3);-moz-box-shadow: 2px 2px 4px rgba(0,0,0,0.3);box-shadow: 2px 2px 4px rgba(0,0,0,0.3);}
#mainmenu .lang li.act img,#mainmenu .lang li a:hover img{-webkit-opacity: 1;-moz-opacity: 1;opacity: 1;filter:alpha(opacity=100);}
.blok_b2{display: block;width: 219px;padding: 10px 0 38px;margin: 0 0 35px 0;border:0;border-right: 1px solid #ededed;background: #f8f8f8;}
.blok_b2 tbody, .blok_b2 tr, .blok_b2 td{display: block;}
.blok_b2_a{display: block;position: relative;margin: 0 10px 12px;font-size: 16px;color: #dd2212;text-shadow: 1px 1px 0 #fff;text-transform: uppercase;font-weight: bold;background: #dfdfdf;padding: 7px 16px 9px;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}
.blok_b2_a:before{position: absolute;content: '';top:100%;left: 20px;border: 12px solid transparent;border-top-color: #dfdfdf;}
.divkat_uroven_0>.kat_odkaz{padding: 14px 0 8px 26px;font-weight: bold;text-transform: uppercase;font-size: 15px;line-height: 1.2;}
.divkat_uroven_0>.kat_odkaz a{position: relative;display: inline-block;text-decoration: none;color: #000;}
.divkat_uroven_0>.kat_odkaz a:hover,.divkat_uroven_0>.kat_odkaz.active a{color: #dd2212;}
.divkat_uroven_1>.kat_odkaz{position: relative;padding: 0 0 5px 41px;font-size: 14px;line-height: 1.2;}
.divkat_uroven_1>.kat_odkaz.active:after{position: absolute;content: '';top:-3px;right:-2px;content: 0;width: 13px;height: 26px;background: url(../images/ico/05.png) no-repeat;}
.divkat_uroven_1>.kat_odkaz a{position: relative;display: inline-block;text-decoration: none;color: #000;}
.divkat_uroven_1>.kat_odkaz a:hover,.divkat_uroven_1>.kat_odkaz.active a{color: #dd2212;}
.divkat_uroven_1>.kat_odkaz a:before{position: absolute;content: '>';left: -14px;top: 1px;color: #c4c4c4;}
.blok_b3{display: block;width: 220px;position: relative;padding: 14px 0 20px;margin: 0 0 35px;background: #f8f8f8;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}
.blok_b3:before{position: absolute;content: '';top: 70px;right: -07px;width: 34px;height: 50px;background: url(../images/ico/06.png) no-repeat;}
.blok_b3 tbody, .blok_b3 tr, .blok_b3 td{display: block;margin: 0;padding: 0;border:0;}
.blok_b3 .blok_b3_a{position: relative;margin: 0 0 20px 26px;padding: 0 0 14px 0;font-size: 16px;color: #dd2212;text-shadow: 1px 1px 0 #fff;text-transform: uppercase;font-weight: bold;border-bottom: 1px solid #ececec;}
.blok_b3 .blok_b3_b{margin: 0 26px;}
.blok_b3_b h2{text-transform: uppercase;font-size: 19px;line-height: 1.2;color: #dd2212;margin: 0 0 14px;}
.blok_b3_b p{font-size: 14px;line-height: 1.2;margin: 0 0 20px;}
.blok_b3 .blok_b3_c{margin: 0 26px;}
.blok_b3_c a{display: inline-block;height: 29px;line-height: 29px;color: #fff;text-shadow: -1px -1px 0 #000;padding: 0 20px 0 10px;margin: 0;text-decoration: none;text-shadow: -1px -1px rgba(0,0,0,0.5);background: #3d3d3d;background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNkM2QzZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMTIxMjEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background-image: -moz-linear-gradient(top,  #3d3d3d 0%, #212121 100%);background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3d3d3d), color-stop(100%,#212121));background-image: -webkit-linear-gradient(top,  #3d3d3d 0%,#212121 100%);background-image: -o-linear-gradient(top,  #3d3d3d 0%,#212121 100%);background-image: -ms-linear-gradient(top,  #3d3d3d 0%,#212121 100%);background-image: linear-gradient(to bottom,  #3d3d3d 0%,#212121 100%);-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}
.blok_b3_c a:hover{background: #dd2212;}
.blok_b3_c a:before{margin: 0 11px 0 0;font-size: 16px;content: '\e804';font-family: 'font-icons';}
.blok_intro{*zoom:1;width: 680px;margin: 0 0 37px;}
.blok_intro:before,.blok_intro:after{display:table;content:"";}
.blok_intro:after{clear:both;}
.blok_intro .blok_left{width: 220px;height: 202px;padding: 22px 230px 0 0;float: left;background: url(../images/example/14.jpg) no-repeat;}
.blok_intro .blok_left h2{font-size: 19px;line-height: 1.2;color: #dd2212;margin: 0 0 10px;text-transform: uppercase;}
.blok_intro .blok_left p{line-height: 1.2;margin: 0 0 18px;}
.blok_intro .blok_left .nav a{display: inline-block;height: 29px;line-height: 29px;color: #fff;text-shadow: -1px -1px 0 #000;padding: 0 20px 0 10px;margin: 0;text-decoration: none;text-shadow: -1px -1px rgba(0,0,0,0.5);background: #3d3d3d;background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNkM2QzZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMTIxMjEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background-image: -moz-linear-gradient(top,  #3d3d3d 0%, #212121 100%);background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3d3d3d), color-stop(100%,#212121));background-image: -webkit-linear-gradient(top,  #3d3d3d 0%,#212121 100%);background-image: -o-linear-gradient(top,  #3d3d3d 0%,#212121 100%);background-image: -ms-linear-gradient(top,  #3d3d3d 0%,#212121 100%);background-image: linear-gradient(to bottom,  #3d3d3d 0%,#212121 100%);-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}
.blok_intro .blok_left .nav a:hover{background: #dd2212;}
.blok_intro .blok_left .nav a:before{margin: 0 11px 0 0;font-size: 16px;content: '\e804';font-family: 'font-icons';}
.blok_intro .blok_right{width: 166px;height: 200px;padding: 24px 32px 0;float: left;color: #fff;background: url(../images/bg/02.png) no-repeat;}
.blok_intro .blok_right .title{font-weight: bold;text-transform: uppercase;margin: 0 0 12px;}
.blok_intro .blok_right address{font-style: normal;line-height: 1.2;margin: 0 0 25px;}
.blok_intro .blok_right .phone{position: relative;font-size: 22px;font-weight: bold;padding: 0 0 0 20px;white-space: nowrap;font-family: 'Open Sans Condensed',sans-serif;}
.blok_intro .blok_right .phone:before{position: absolute;left: -5px;top: 0;font-size: 38px;line-height: 1;color: #676568;content: '\e808';font-family: "font-icons";-moz-transform:rotate(20deg);-webkit-transform:rotate(20deg);-o-transform:rotate(20deg);-ms-transform:rotate(20deg);}
.rozcestnik_blok_zaklad{*zoom:1;margin: 0 -29px;}
.rozcestnik_blok_zaklad:before,.rozcestnik_blok_zaklad:after{display:table;content:"";}
.rozcestnik_blok_zaklad:after{clear:both;}
.rozcestnik_blok_obsah{position: relative;float: left;width: 178px;height: 183px;margin: 0 29px 36px;border: 2px solid #dd2212;-webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px;}
.rozcestnik_blok_obsah a:hover:before{position: absolute;content: '';top: -11px;left: -11px;width: 100%;height: 100%;padding: 10px;border: 1px solid #c4c4c4;}
.rozcestnik_blok_nadpis{background: #dd2212;color: #fff;text-align: center;padding: 8px 5px 14px;margin: 0 0 11px;white-space: nowrap;text-transform: uppercase;}
.rozcestnik_blok_nadpis:before{position: absolute;content:'V';left: 50%;top: 31px;margin-left: -11px;width: 22px;height: 22px;line-height: 22px;color: #c4c4c4;font-weight: bold;background: #fff;-webkit-border-radius: 11px;-moz-border-radius: 11px;border-radius: 11px;}
.rozcestnik_blok_nadpis h2{font-size: 16px;line-height: 1.2;margin: 0;}
.rozcestnik_blok_nadpis a{color: #fff;text-decoration: none;}
.rozcestnik_blok_foto{background: #fff;margin: 0 -2px;height: 120px;text-align: center;overflow: hidden;}
.index_novinky_zaklad{*zoom:1;margin: 0 -10px 35px;background: #f8f8f8;}
.index_novinky_zaklad:before,.index_novinky_zaklad:after{display:table;content:"";}
.index_novinky_zaklad:after{clear:both;}
.index_novinky_zaklad p{position: relative;margin: 0;background: #fff;}
.index_novinky_zaklad p:before{position: absolute;content: '';left: 0;right: 0;top: 100%;border: 2px solid #212121;border-bottom: 0;height: 10px;-webkit-border-radius: 6px 6px 0 0;-moz-border-radius: 6px 6px 0 0;border-radius: 6px 6px 0 0;}
.s_index_rozcestnik_zebricek{position: absolute;top:13px;right: 0;font-size: 13px;}
.s_index_rozcestnik_zebricek:before{position: absolute;left: -14px;top:2px;font-size: 14px;line-height: 1;content: '>';font-weight: bold;color: #212121;text-decoration: none;}
.s_index_rozcestnik_nadpis{display: inline-block;margin: 0 0 0 20px;color: #fff;text-transform: uppercase;font-weight: bold;font-size: 16px;line-height: 1;height: 40px;line-height: 40px;padding: 0 23px;white-space: nowrap;background: #3d3d3d;background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNkM2QzZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMTIxMjEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background-image: -moz-linear-gradient(top,  #3d3d3d 0%, #212121 100%);background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3d3d3d), color-stop(100%,#212121));background-image: -webkit-linear-gradient(top,  #3d3d3d 0%,#212121 100%);background-image: -o-linear-gradient(top,  #3d3d3d 0%,#212121 100%);background-image: -ms-linear-gradient(top,  #3d3d3d 0%,#212121 100%);background-image: linear-gradient(to bottom,  #3d3d3d 0%,#212121 100%);-webkit-border-radius: 6px 6px 0 0;-moz-border-radius: 6px 6px 0 0;border-radius: 6px 6px 0 0;}
.s_index_rozcestnik_nadpis:after{font-size: 18px;margin: 0 -10px 0 16px;content: '\e80a';font-family: "font-icons";}
.zbozi_s_foto{width: 100%;}
.zbozi_s_foto .do_kosiku{width: 30px;text-align: center;padding-left: 0;padding-right: 0;}
.zbozi_s_foto_zakladni_bunka{padding: 10px 20px;border-top: 1px solid #dfdfdf;border-bottom: 1px solid #dfdfdf; width: 33%;}
.seznam_zbozi_s_foto{display: block;position: relative!important;float: left;width: 175px;padding: 20px 0 35px;margin: 0;border:0;text-align: center;white-space: normal;}
.zbozi_s_foto .seznam_zbozi_s_foto{width: auto;}
.seznam_zbozi_s_foto:before{position: absolute;content: '';left: -1px;top: 35px;height: 150px;border-left: 1px solid #e3e3e3;}
.zbozi_s_foto .seznam_zbozi_s_foto:before{display: none;}
.seznam_zbozi_s_foto tbody,.seznam_zbozi_s_foto tr, .seznam_zbozi_s_foto td{display: block;margin: 0;padding: 0;border: 0;}
.seznam_zbozi_s_foto .seznam_zbozi_s_foto_nazev{display: block;line-height: 16px;min-height: 36px;margin: 0 10px 11px;}
.seznam_zbozi_s_foto .seznam_zbozi_s_foto_foto{margin: 0 0 2px;}
.seznam_zbozi_s_foto_foto img{border: 5px solid #fff;}
.seznam_zbozi_s_foto_foto a:hover img{border-color: #f0f0f0;}
.seznam_zbozi_s_foto_udaje_form{font-weight: bold;font-size: 20px;line-height: 1;color: #dd2212;}
.zbozi_s_foto .kosik{font-family: "font-icons";}
.zbozi_s_foto .hlavni_cena{font-weight: bold;}
.zbozi_s_foto .druha_cena{display: block;margin: 0 auto;}
.zbozi_s_foto .seznam_zbozi_s_foto_udaje form{padding: 10px 0 0;}
.index_novinky_zaklad .cycle-carousel-wrap{width: 9999em;}
.index_novinky_zaklad .prev,.index_novinky_zaklad .next{position: absolute;z-index: 999;top:12px;left: 0;width: 7px;height: 100%;background: url(../images/bg/03.png) repeat-y -7px 0;}
.index_novinky_zaklad .prev{left: auto;right:0;background-position: 0 0;}
.index_novinky_zaklad .prev a,.index_novinky_zaklad .next a{position: absolute;top:50%;left: -15px;width: 38px;height: 38px;line-height: 38px;margin-top: -19px;background: #fff;color: #000;font-size: 18px;text-decoration: none;font-weight: bold;text-align: center;border: 1px solid #d9d9d9;-webkit-border-radius: 19px;-moz-border-radius: 19px;border-radius: 19px;-webkit-box-shadow: 0 0 6px rgba(0,0,0,0.1);-moz-box-shadow: 0 0 6px rgba(0,0,0,0.1);box-shadow: 0 0 6px rgba(0,0,0,0.1);}
.index_novinky_zaklad .prev a{left: -18px;}
.index_novinky_zaklad .prev a:hover,.index_novinky_zaklad .next a:hover{color: #dd2212;}
.nachazite_se_blok{margin: 0 0 20px;}
.celkem_polozek{float: left;margin: 0 0 20px;}
.listovani_horni{clear: both;text-align: right;margin: 20px 0;}
.listovani_horni span,.listovani_horni a{margin: 0 5px;}
.listovani_aktualni_stranka{font-weight: bold;}
.listovani_order {width: 100%;}
.listovani_order td{text-align: right;padding: 10px 0;border-top: 1px solid #dfdfdf;}
.listovani_order td:first-child{text-align: left;}
.listovani_order select{width:auto;}
.listovani_order button{padding-left: 10px;padding-right: 10px;}
.zmena_zobrazeni_blok{float: right;text-align: right;}
.zmena_zobrazeni_seznam{display: inline-block;}
.zmena_zobrazeni_seznam:before{position: relative;top:1px;margin: 0 5px 0 10px;content: '\e80d';font-family: "font-icons";}
.zmena_zobrazeni_nahledy{display: inline-block;}
.zmena_zobrazeni_nahledy:before{position: relative;top:1px;margin: 0 5px 0 10px;content: '\e80c';font-family: "font-icons";}
.seznam_zbozi_bez_foto th,.seznam_zbozi_bez_foto td{padding: 8px 5px;border-top: 1px solid #dedede;border-bottom: 1px solid #dedede;vertical-align: top;}
.seznam_zbozi_bez_foto_top{background: #3d3d3d;color: #fff;font-weight: bold;}
.seznam_zbozi_bez_foto{width: 100%;}
.seznam_zbozi_bez_foto .do_kosiku{padding-left: 0;padding-right: 0;width: 30px;text-align: center;}
.seznam_zbozi_bez_foto .kosik{padding-left: 10px;padding-right: 10px;font-family: "font-icons";}
.detail_left{float: left;width: 30%;}
.detail_left img{max-width: 100%;height: auto;width: auto;}
.detail_right{float: right;width: 65%;}
.detail_right .hlavni_cena{font-weight: bold;font-size: 18px;color: #dd2212;}
.detail_right .do_kosiku{width: 30px;padding-left: 0;padding-right: 0;text-align: center;}
.detail_right .kosik{font-family: "font-icons",'Source Sans Pro',sans-serif;;}
.objednavka_diagram table{width: 100%;margin: 0 0 20px;}
.objednavka_diagram table td{width: 25%;padding: 5px;font-weight: bold;text-transform: uppercase;text-align: center;vertical-align: middle;background: #dfdfdf;border: 1px solid #fff;color: #dd2212;text-shadow: 1px 1px 0 #fff;-webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px;}
.objednavka_diagram .objednavka_diagram_aktivni{color: #fff;text-shadow: none;background: #dd2212;}
.kosik_main{width: 100%;margin: 0 0 20px;}
.kosik_main th,.kosik_main td{padding: 8px 5px;border-top: 1px solid #dedede;border-bottom: 1px solid #dedede;vertical-align: middle;}
.kosik_main .kosik_nadpis{background: #3d3d3d;color: #fff;font-weight: bold;}
.kosik_main .do_kosiku{padding-left: 0;padding-right: 0;width: 30px;text-align: center;}
.kosik_main .kosik_cena{font-weight: bold;}
.kosik_main .kosik_celkem_cena{font-weight: bold;color: #dd2212;}
.kosik_main .kosik_celkem_s_dani_nadpis{font-weight: bold;}
.kosik_main .kosik_celkem_cena_s_dani{font-weight: bold;font-size: 18px;color: #dd2212;}
.major_button{float: right;font-weight: bold;height: 40px;background: #dd2212;}
.major_button:hover{background: #3d3d3d;}
.objednavka_formular_blok{*zoom:1;padding: 10px 0;margin: 0 0 2px;background: #f5f5f5;}
.objednavka_formular_blok:before,.objednavka_formular_blok:after{display:table;content:"";}
.objednavka_formular_blok:after{clear:both;}
.objednavka_formular_nazev{width: 180px;float: left;margin: 0 20px 0 0;text-align: right;}
.objednavka_formular_blok input,.objednavka_formular_blok textarea{width: 280px;}
.objednavka_formular_blok select{width: 298px;}
.kosik_rekapitulace{margin: 0 0 20px;}
.kosik_rekapitulace td{padding: 5px 30px;background: #f5f5f5;border-top: 1px solid #dedede;border-bottom: 1px solid #dedede;}
.blok_info_1{position: relative;width: 180px;padding: 0 20px 0 60px;margin: 0 0 10px;float: left;border-right: 1px solid #5c5c5c;}
.blok_info_1:after{position: absolute;content: '';right: -3px;top:0;width: 5px;height: 5px;background: #5c5c5c;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;}
.blok_info_1 h3{text-transform: uppercase;font-size: 15px;line-height: 1.3;margin: 0 0 16px;}
.blok_info_1 address,.blok_info_1 p{font-style: normal;line-height: 1.2;margin: 0 0 15px;}
.blok_info_2{position: relative;width: 189px;padding: 0 20px 0 30px;margin: 0 30px 10px -1px;float: left;border-left: 1px solid #5c5c5c;border-right: 1px solid #5c5c5c;}
.blok_info_2:after{position: absolute;content: '';right: -3px;top:0;width: 5px;height: 5px;background: #5c5c5c;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;}
.blok_info_2 h3{text-transform: uppercase;font-size: 15px;line-height: 1.3;margin: 0 0 16px;}
.blok_info_2 ul{margin: 0 0 10px;padding: 0;}
.blok_info_2 ul li{margin: 0 0 1px;padding: 0 0 0 15px;}
.blok_info_novinky{position: relative;width: 189px;padding: 0 20px 0 0;margin: 0 0 10px -1px;float: left;border-right: 1px solid #5c5c5c;}
.blok_info_novinky:after{position: absolute;content: '';right: -3px;top:0;width: 5px;height: 5px;background: #5c5c5c;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;}
.blok_info_novinky h3{text-transform: uppercase;font-size: 15px;line-height: 1.3;margin: 0 0 16px;}
.blok_info_novinky input{margin: 0;padding: 7px 15px;border: 0;width: 120px;height: 18px;background: #fff;float: left;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}
.blok_info_novinky button{margin: 0 0 0 -5px;padding: 0 11px;border: 0;height: 32px;color: #fff;text-shadow: -1px -1px 0 #000;background: #e83222;font-family: "font-icons";-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;cursor: pointer;}
.blok_info_novinky button:hover{background: #5c5c5c;}
.blok_info_3{position: relative;width: 200px;padding: 0 20px 0 30px;margin: 0 0 10px -1px;float: left;}
.blok_info_3 h3{text-transform: uppercase;font-size: 15px;line-height: 1.3;margin: 0 0 16px;}
.blok_info_3 a{color: #fff;}
.blok_info_3 ul{margin: 0 0 10px;padding: 0;font-weight: bold;}
.blok_info_3 ul li{margin: 0 0 1px;padding: 0 0 0 15px;}
.blok_platebni_karty{*zoom:1;float: left;padding: 25px 0 0;min-width: 410px;border-top: 1px solid #5c5c5c;}
.blok_platebni_karty:before,.blok_platebni_karty:after{display:table;content:"";}
.blok_platebni_karty:after{clear:both;}
.blok_platebni_karty h3{text-transform: uppercase;font-size: 15px;line-height: 1.3;margin: 0 20px 0 0;float: left;}
.blok_platebni_karty img{margin: 0 0 0 1px;}
.footer_left{float: left;padding: 22px 0;font-size: 12px;}
.footer_left .separator{display: inline-block;width: 1px;height: 20px;background: #b7b5b8;margin: -5px 17px;}
.footer_left img{margin: -5px 0;}
.footer_right{padding: 22px 0;font-size: 11px;text-transform: uppercase;float: right;}
.footer_right .separator{display: inline-block;width: 1px;height: 20px;background: #b7b5b8;margin: -5px 12px;}
.footer_right img{margin: -5px 0;}
#infomess_main {position: fixed;_position: absolute;top: 20px;left: 43%;z-index: 5000;opacity: 0.9;filter: alpha(opacity=90);width: 320px;}
.infomess_main_ok {border: 2px solid #FFFFFF;}
.infomess_main_error {border: 2px solid #FFFFFF;}
.infomess_main_warning {border: 2px solid #FFFFFF;}
#infomess_head {height: 18px;text-align:right;padding-right: 4px;background-image: url(css_img/info_error_bgr.jpg);background-repeat: no-repeat;background-position: left top;}
.infomess_head_ok {color: #FFFFFF;background-image: url(../_images/ok.gif);}
.infomess_head_error {background-image: url(../_images/error.gif);color: #FFFFFF;}
.infomess_head_warning {background-image: url(../_images/warning.gif);color: #FFFFFF;}
#infomess_body {padding: 15px;}
.infomess_body_ok {background-color: #C9E4F8;color: #000000;font-size: 1.1em;font-weight: bold;}
.infomess_body_error {background-color: #FEEFED;color: #000000;font-size: 1.1em;font-weight: bold;}
.infomess_body_warning {background-color: #FCDFDA;color: #000000;font-size: 1.1em;font-weight: bold;}
.mod_custom-slideshow ul li:before{display: none; margin-right: -1px;}
#tabs{margin: 0 0 40px;}
#tabs .ui-tabs-nav{margin: 0;padding: 0 0 0 4px;}
#tabs .ui-tabs-nav{*zoom:1;}
#tabs .ui-tabs-nav:before,#tabs .ui-tabs-nav:after{display:table;content:"";}
#tabs .ui-tabs-nav:after{clear:both;}
#tabs .ui-tabs-nav li{margin: 0 0 0 4px;padding: 0;float: left;}
#tabs .ui-tabs-nav li a{display: block;color: #000;padding: 10px 24px 6px;text-decoration: none;outline: 0;background: #e8e8e8;background: #e8e8e8;background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U4ZThlOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY2JSIgc3RvcC1jb2xvcj0iI2UxZTFlMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjOWM5YzkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background: -moz-linear-gradient(top,  #e8e8e8 0%, #e1e1e1 66%, #c9c9c9 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8e8e8), color-stop(66%,#e1e1e1), color-stop(100%,#c9c9c9));background: -webkit-linear-gradient(top,  #e8e8e8 0%,#e1e1e1 66%,#c9c9c9 100%);background: -o-linear-gradient(top,  #e8e8e8 0%,#e1e1e1 66%,#c9c9c9 100%);background: -ms-linear-gradient(top,  #e8e8e8 0%,#e1e1e1 66%,#c9c9c9 100%);background: linear-gradient(to bottom,  #e8e8e8 0%,#e1e1e1 66%,#c9c9c9 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#c9c9c9',GradientType=0 );border-top: 4px solid #fff;border-bottom: 1px solid #c0c0c0;-webkit-border-radius: 6px 6px 0 0;-moz-border-radius: 6px 6px 0 0;border-radius: 6px 6px 0 0;}
#tabs .ui-tabs-nav li a:hover{color: #e73021;}
#tabs .ui-tabs-nav .ui-tabs-active a{border-top-color: #e73021;border-bottom-color: #f2f2f2;background: #f2f2f2;font-weight: bold;}
#tabs .ui-tabs-panel{padding: 30px;background: #f2f2f2;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}
#tabs .ui-tabs-panel h2,#tabs .ui-tabs-panel h3{text-transform: uppercase;}
#tabs-souvisejici fieldset{*zoom:1;position: relative;padding: 20px 225px 20px 0;border: 0;border-top: 1px solid #bdbdbd;}
#tabs-souvisejici fieldset:before,#tabs-souvisejici fieldset:after{display:table;content:"";}
#tabs-souvisejici fieldset:after{clear:both;}
#tabs-souvisejici fieldset:first-of-type{border-top: 0;}
#tabs-souvisejici fieldset legend{display: none;}
#tabs-souvisejici fieldset a img{max-width: 100px;border: 5px solid #fff;margin: 0 20px 0 0;}
#tabs-souvisejici fieldset a:hover img{border-color: #e73021;}
#tabs-souvisejici fieldset td{position: relative;}
#tabs-souvisejici fieldset>table>tbody>tr>td:nth-child(2) a,#tabs-souvisejici fieldset>table>tr>td:nth-child(2) a{font-weight: bold;font-size: 16px;display: block;margin: 0 0 -5px;}
#tabs-souvisejici fieldset .hlavni_cena{font-weight: bold;font-size: 16px;color: #e73021;}
#tabs-souvisejici fieldset form{position: absolute;vertical-align: middle;left: 100%;top:50%;height: 100%;width: 180px;padding: 0 0 0 45px;margin-top: -15px;}
#tabs-souvisejici fieldset form:before{position: absolute;content: '';top:5px;left: 15px;border: 12px solid transparent;border-left-color: #e73021;}
#tabs-souvisejici fieldset form:after{position: absolute;content: '';top:5px;left: 12px;border: 12px solid transparent;border-left-color: #f2f2f2;}
#tabs-souvisejici fieldset>table>tbody>tr>td:nth-child(2):before,#tabs-souvisejici fieldset>table>tr>td:nth-child(2):before{position: absolute;content: '';right: -17px;top:0;height: 100%;width: 10px;border: 2px solid #dd2212;border-left: 0;-webkit-border-radius: 0 6px 6px 0;-moz-border-radius: 0 6px 6px 0;border-radius: 0 6px 6px 0;}
#tabs-souvisejici fieldset form .do_kosiku{width: 28px;padding-left: 0;padding-right: 0;text-align: center;margin-right: 6px;}
#tabs-souvisejici fieldset form input[type=submit]{margin-left: 6px;font-family: "font-icons",'Source Sans Pro',sans-serif;}
.podkategorie_rozcestnik_zaklad{margin: 30px 0;}
.podkategorie_rozcestnik_zaklad h3{text-transform: uppercase;margin: 0 0 10px;color: #dd2212;}
.podkategorie_rozcestnik_blok,.podkategorie_rozcestnik_nadpis{display: inline;}
.podkategorie_rozcestnik_nadpis a{display: inline-block;background: #dd2212;color: #fff;text-shadow: -1px -1px 0 rgba(0,0,0,0.4);text-decoration: none;font-size: 16px;padding: 0 16px;margin: 0 10px 10px 0;line-height: 33px;height: 33px;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}
.podkategorie_rozcestnik_nadpis a:before{font-size: 90%;content: '\e812';margin: 0 12px 0 -4px;font-family: "font-icons",'Source Sans Pro',sans-serif;}
.podkategorie_rozcestnik_nadpis a:hover{background: #3d3d3d;background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNkM2QzZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMTIxMjEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background-image: -moz-linear-gradient(top,  #3d3d3d 0%, #212121 100%);background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3d3d3d), color-stop(100%,#212121));background-image: -webkit-linear-gradient(top,  #3d3d3d 0%,#212121 100%);background-image: -o-linear-gradient(top,  #3d3d3d 0%,#212121 100%);background-image: -ms-linear-gradient(top,  #3d3d3d 0%,#212121 100%);background-image: linear-gradient(to bottom,  #3d3d3d 0%,#212121 100%);}