
.icon-search:before { content: '\e802'; } /* '' */
.icon-up-circle:before { content: '\e813'; } /* '' */
.icon-user:before { content: '\e800'; } /* '' */
.icon-camera:before { content: '\e80e'; } /* '' */
.icon-th:before { content: '\e80c'; } /* '' */
.icon-lock:before { content: '\e801'; } /* '' */
.icon-trash:before { content: '\e80f'; } /* '' */
.icon-phone:before { content: '\e808'; } /* '' */
.icon-basket:before { content: '\e80b'; } /* '' */
.icon-down-big:before { content: '\e806'; } /* '' */
.icon-mail-alt:before { content: '\e809'; } /* '' */
.icon-right-big:before { content: '\e804'; } /* '' */
.icon-up-big:before { content: '\e803'; } /* '' */
.icon-list:before { content: '\e80d'; } /* '' */
.icon-asterisk:before { content: '\e80a'; } /* '' */
.icon-attention:before { content: '\e807'; } /* '' */
.icon-down-circle:before { content: '\e810'; } /* '' */
.icon-left-circle:before { content: '\e811'; } /* '' */
.icon-right-circle:before { content: '\e812'; } /* '' */
.icon-left-big:before { content: '\e805'; } /* '' */